<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}">bgreenacre</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/about.html" class="{% if page.url == '/about.html' %}active{% endif %}">
                        About
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right social-links">
                <li>
                    <a target="_blank" href="https://github.com/bgreenacre">
                        <i class="icon-github-sign"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/bgreenacre42">
                        <i class="icon-twitter-sign"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://facebook.com/bgreenacre">
                        <i class="icon-facebook-sign"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/pub/brian-greenacre/14/518/592">
                        <i class="icon-linkedin-sign"></i>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>